{% extends 'base/base.html' %}
{% block body %}
    <center>
    <div class="col-lg-3">

<form method="post" style="position: relative; margin-top: 90px;" action="{% url 'changepass' %}">
  {% csrf_token%}
    {% if message  %}
        <p class="text-success">
            {{ message }}</p>
        {% endif %}
    {% if messagess %}
        <p class="text-danger">
            {{ messagess }}</p>
        {% endif %}
<br><br>
      <div class="form-group">
          <input type="password" class="form-control" name="old_password" autofocus required id="id_old_password" placeholder="Enter Old Password"/>
      </div>
      <div class="form-group">
              <input type="password" class="form-control" name="new_password1" required id="id_new_password1" placeholder="Enter New Password" />
    </div>
    <div class="form-group">
      <input type="password" class="form-control" name="new_password2" required id="id_new_password2" placeholder="Confirm New Password" />
        </div>
  <button type="submit" class="btn btn-primary">Save changes</button>
</form></div></center>
{% endblock %}

