{% extends 'base/base.html' %}
{% block body %}
    <center>
    <br><br><br>
    <div class="col-md-4 col-sm-4 col-xs-12">
 </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
    <form method="POST" action="{% url 'send' %}" style="position:relative; margin-top: 40px">
    {% csrf_token %}
    {% if error_message %}
     <div class="alert alert-success" role="alert">
  {{ error_message }}
</div>
    {% endif %}
  <div class="form-group">
    <input type="number" name="recacc" class="form-control" placeholder="Enter the Account No. of Reciever">
  </div>
  <div class="form-group">
    <input type="number" class="form-control"  placeholder="Enter the Amount to be paid" name="amnt">
  </div>
        <div class="form-group">
    <input type="password" class="form-control"  placeholder="Enter the Transaction Password" name="transpas">
  </div>
    Select your Bank Account:<br>
    <select class="form-control"  name="senacc">
        {% for i in c %}
  <option value="{{ i.accountno }}">{{ i.accountno }}</option>
        {% endfor %}
</select>

    </div>
</div>
        <br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form> </center>
{% endblock %}

</div>
<div class="col-md-4 col-sm-4 col-xs-12">
 </div>